/* RESPONSIVE */


/* Responsive Large Mobile */

@media screen and (min-width:576px) {}


/* Responsive Tablet */

@media screen and (min-width:768px) {

    main {
        padding: 60px;
    }

    #topbar {
        display: inline-block;
    }

    #logo {
        text-align: left;
        vertical-align: middle;
    }

    .recipe-title {
        width: 100%;
        font-size: 22px;
    }

    .recipe-origin {
        display: inline;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes li {
        margin: 0;
        width: calc(100% / 3);
        margin-top: 30px;
    }

    .quick-notes {
        margin-top: 0;
    }

    .ads {
	display: block;
}

    .clearfix img {
        float: left;
        margin-right: 10px;
    }

}


/* Responsive Desktop */

@media screen and (min-width:992px) {

    

}